* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

p {
    font-family: 0;
}

body {
    background-color: #E8F3FF;
    padding: 20px;
}

header {
    display: flex;
    color: #123E72;
    padding-left: 15px;
}

header input {
    margin-left: 630px;
    margin-top: 5px;
    padding: 10px;
    outline: none;
}

header input {
    border: solid 1px #0052B4;
    border-radius: 5px;
    width: 280px;
    height: 10px;
}

main .main {
    display: flex;
    border-radius: 5px;
    background-color: #0052B4;
    padding: 20px;
    color: white;
}

.main p {
    margin-top: 20px;
}

#gambar {
    width: 500px;
}

#gambar img{
    border-radius: 150px;
    width: 100px;
    height: 100px;
    border: 3px solid white ;
    margin-left: 130px;
    margin-top: 18px;
}

main .nav {
    background-color: #0052B4;
    border-radius: 5px;
    color: white;
}

main .nav div:hover {
    background-color: #123E72;
    color: white;

}

main .nav div {
    margin-top: 30px;
    padding: 15px;
}

main .nav div a {
    margin-left: 80px;
    font-weight: bold;
}

main .aside img{
    padding-top: 30px;
}

main .aside {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

main .aside img {
    width: 375px;
}

main .section1 {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

main .section1 div {
    background-color: #F0F7FF;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
}

main .section1 div p {
    color: #0052B4;
    margin-top: 7px;
}

main .section2{
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

main .section2 div{
    background-color: #F0F7FF;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
}

main .section2 div p {
    color: #0052B4;
    margin-top: 7px;
    font-weight: bold;
}

main .footer{
    border-radius: 5px;
    background-color: white;
    padding: 15px;
}

main .footer div{
    background-color: #F0F7FF;
    border-radius: 5px;
    margin-top: 10px;
    padding: 25px;
    display: flex;
}

main .footer div .p {
    color: black;
    font-weight: bold;
}

main .footer div p {
    color: black;
    margin-left: 5px;
}

main .footer div a{
    font-weight: bold;
    color: #0052B4;
    margin-left: 10px;
}

main {
    margin-top: 10px;
    display: grid;
    gap: 15px;
    padding: 15px;
    grid-template-areas: 
    'nav main main main' 
    'nav aside section1 section2'
    'nav footer footer footer';
    grid-template-columns: 1.7fr 2fr 1.2fr 1.8fr ;
    grid-template-rows: 1fr 1.9fr 1.5fr ;
}

.nav {grid-area: nav;}
.main {grid-area: main;}
.aside {grid-area: aside;}
.section1 {grid-area: section1;}
.section2 {grid-area: section2;}
.footer {grid-area: footer;}